@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

body {
  font-family: "Calistoga", serif;
  background-color:#fff;
  margin: 0;
  padding: 0;
}

.title {
  font-weight: bold;
  font-size: 24px;
}