@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

/* body {
  font-family: "Calistoga", serif;
  background-color:#92CCB4;
  margin: 0;
  padding: 0;
} */

.display-recipe-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* makes it fill the full screen height */
  width: 100vw;      /* makes it fill the full screen width */
  box-sizing: border-box;
  padding: 20px 40px;
}

.recipe-name {
  /* font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
  color: black; */
  font-size: 2.5rem;
  font-weight: 900;
  margin: 0;
  color: black;
}

.category-title {
  font-weight: bold;
  font-size: 24px;
  flex-direction: column;
  /* align-items: left; */
  width: 100vw;
  text-align: left;
}

.recipe-info {
  font-size: 15px;
  flex-direction: column;
  text-align: left;
  font-weight: normal;;
}

.header-favorite {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* color: rgb(252, 0, 105); */
}

.recipe-pic{
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.recipe-pic img{
  max-width: 400px;
  border-radius: 10px;
}

.delete-recipe-button {
  background-color: red;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.4rem;
  line-height: 1;
  color: white;
}

.delete-recipe-button:hover {
  background-color: #cc0000;
}
