@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

body {
  font-family: "Calistoga", serif;
  background-color:#fff;
  margin: 0;
  padding: 0;
}

/* Login Screen css */

.welcome-message {
  font-family: "Calistoga", serif;
  font-size: 50px;
  display: flex;
  /* flex: 1; */
  color: black;
  text-align: center;
  align-items: center;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* makes it fill the full screen height */
  width: 100vw;      /* makes it fill the full screen width */
  box-sizing: border-box;
  padding: 20px 40px;
}

.username-input {
  flex: 1;
  max-width: 450px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 8px 12px;
  font-size: 1rem;
  margin-bottom: 10px;
  margin-top: 10px;
}

.password-input {
  flex: 1;
  max-width: 450px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 8px 12px;
  font-size: 1rem;
  margin-bottom: 20px;
  margin-top: 10px;
}

.login-btn {
  background-color: #92CCB4;
  font-family: "Calistoga", serif;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 8px 20px;
  font-weight: bold;
  cursor: pointer;
  margin: 10px;
}

.login-btn:hover {
  background-color: #258968;
}